<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- TODO 后期取消这个配置文件，都在application.yml配置。  -->
    <settings>
        <!--    驼峰    -->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <!-- 打印  -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
</configuration>
